
@import "color-definitions";

$font-stack: 'Roboto', 'Helvetica Neue', Arial, sans-serif;


/* Colors */
$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-pink-A200;

$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

$color-primary-hint: rgba($color-black, 0.38);
$color-primary-disabled: $color-primary-hint;
$color-primary-divider: rgba($color-black, 0.12);

$color-error: $palette-red-500;
$color-danger: $palette-orange-500;
$color-info: $palette-blue-500;
$color-success: $palette-green-500;
$color-warning: $palette-orange-500;

/* Typography */
$text-color-primary: rgba($color-black, 0.87);
$text-link-color: $color-accent;
$text-color-secondary: rgba($color-black, 0.54);

/* Input fields */
$input-label-color: $text-color-secondary;
$input-label-color-hover: rgba($text-color-secondary, 0.30);
$input-label-color-active: $color-primary;
$input-label-color-invalid: $palette-red-300;

$input-color: lighten($text-color-primary, 10%);
$input-color-disabled: $color-primary-disabled;
$input-color-invalid: $palette-red-500;

$input-border-color: $color-primary-divider;
$input-border-color-hover: rgba($color-primary-divider, 0.20);
$input-border-color-active: $color-primary;
$input-border-color-invalid: $palette-red-500;

/* Header */
$header-height: 56px;
$header-font-size: 20px;

$drawer-width: 216px;
$brand-holder-width: $drawer-width;

/* Card */
$card-border-radius: 2px;
$card-title-color: $color-black;
$card-title-font-size: 24px;
$card-title-font-weight: 300;

/* Grid */
$grid-desktop-columns: 12;
$grid-desktop-gutter: 16px;
$grid-desktop-margin: 16px;

$grid-desktop-breakpoint: 840px;

$grid-tablet-columns: 8;
$grid-tablet-gutter: $grid-desktop-gutter;
$grid-tablet-margin: $grid-desktop-margin;

$grid-tablet-breakpoint: 480px;

$grid-phone-columns: 4;
$grid-phone-gutter: $grid-desktop-gutter;
$grid-phone-margin: $grid-desktop-margin;

$grid-cell-default-columns: $grid-phone-columns;
$grid-max-columns: $grid-desktop-columns;


/* z-index */
$z-index-level-1: 20;
$z-index-level-2: 30;
$z-index-level-3: 40;
$z-index-level-4: 50;
$z-index-level-5: 60;
$z-index-level-6: 70;

$z-index-toolbar: $z-index-level-1;
$z-index-fab: $z-index-level-2;
$z-index-nav-drawer: $z-index-level-3;
$z-index-modal: $z-index-level-4;
$z-index-dropdown: $z-index-level-5;
$z-index-tooltip: $z-index-level-6;
