
section {
  color: #2c3e50;
  padding: 40px;

  p:first-child {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;

  td, th { padding: 0; }

  th {
    text-align: left;
  }
}

.table {
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  td {
    code {
      font-size: 13px;
    }
  }

  th, td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  tr:first-child {
    th, td { border-top: 0; }
  }
}

.table-bordered {
  th, td {
    border: 1px solid #ddd;
  }
}

.table-hover th:hover {
  background-color: #f5f5f5;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border: 1px solid #ddd;

    .table {
      margin-bottom: 0;

      th, td {
        white-space: nowrap;
      }
    }
  }
}
